spring:
  application:
    name: order-service
eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: https://digitalreality-inventory-service.azuremicroservices.io/
    inventory:
      ribbon:
        listOfServers: https://digitalreality-inventory-service.azuremicroservices.io/