spring:
 application:
   name: order-service

 server:
   port: 8091
 eureka:
   instance:
     hostname: http://localhost:8090/eureka/
   client:
     register-with-eureka: false #default true
     fetch-registry: true #default true
     serviceUrl:
       defaultZone: http://localhost:8090/eureka
 endpoints:
   restart:
     enabled: true

 inventory-service:
   ribbon:
     listOfServers: localhost:8090
 ribbon:
   eureka:
     enabled: true